<div id="ucompid" class="container wrap uw">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-4 col-md-6 col-lg-7">
                        <img src="http://placehold.it/300x200" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-5">
                        <h4>Abraham Lincoln</h4>
                        <small><cite title="San Diego, USA">San Diego, USA <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>lorem@random.net
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="https://www.prepbootstrap.com">www.prepbootstrap.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>January 19, 1993
                        </p>
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-facebook"></span></a>
                            <a href="#" class="btn btn-danger"><span class="fa fa-2x fa-google"></span></a>
                            <a href="#" class="btn btn-info"><span class="fa fa-2x fa-twitter"></span></a>
                            <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-linkedin"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .wrap
    {
        padding-top: 30px;
    }

    .glyphicon
    {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    small
    {
        display: block;
        color: #888;
    }

    .well
    {
        border: 1px solid blue;
    }
</style>
