<div id="ucompid" class="btn-group uwc">
        <a  id="Aucompid" href="#" class="btn btn-primary dropdown-toggle uwc" data-toggle="dropdown" aria-expanded="false">
        Dropdown
        <span id="Caretucompid" class="caret uwc"></span>
        </a>
        <ul id="ULucompid" class="dropdown-menu uwc">
         <li id="LI1ucompid" class="uwc"><a href="#">Dropdown link</a></li>
         <li id="LI2ucompid" class="uwc"><a href="#">Dropdown link</a></li>
         <li id="LI3ucompid" class="uwc"><a href="#">Dropdown link</a></li>
	</ul>
</div>
