<div id="ucompid" class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="chartucompid"></div>
        </div>
        <div class="col-md-6" style="text-align: justify;">
            <h3>United States at the Olympics</h3>
            <br />
            <p>
                The United States of America has sent athletes to every celebration of the modern Olympic Games, 
                except the 1980 Summer Olympics, during which it led a boycott. 
                The United States Olympic Committee (USOC) is the National Olympic Committee for the United States.
            </p>
            <br />
            <p>
                U.S. athletes have won a total of 2,400 medals at the Summer Olympic Games and another 281 at the Winter Olympic Games. 
                Most medals have been won in athletics (track and field) (767, 32%) and swimming (520, 22%). 
                Thomas Burke was the first athlete to represent the United States at the Olympics. 
                He took first place in both the 100 meters and the 400 meters of the 1896 Summer Olympics in Athens, Greece. 
                U.S. athlete Michael Phelps is the most-decorated Olympic athlete of any nation, with 22 Olympic medals (including 18 golds).
            </p>
            <br />
            <p class="text-right"><em><small>Source: Wikipedia</small></em></p>
        </div>
    </div>
</div>

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $("#chartucompid").shieldChart({
            theme: "bootstrap",
            exportOptions: {
                image: false,
                print: false
            },
            seriesSettings: {
                bar: {
                    stackMode: "normal"
                }
            },
            axisX: {
                categoricalValues: [
                    "1952", "1956", "1960", "1964", "1968", "1972", "1976", "1980",
                    "1984", "1988", "1992", "1996", "2000", "2004", "2008", "2012"
                ]
            },
            primaryHeader: {
                text: "Olympic Medals won by USA"
            },
            dataSeries: [{
                seriesType: "bar",
                collectionAlias: "Gold Medals",
                data: [40, 32, 34, 36, 45, 33, 34, 0, 83, 36, 37, 44, 37, 35, 36, 46]
            }, {
                seriesType: "bar",
                collectionAlias: "Silver Medals",
                data: [19, 25, 21, 26, 28, 31, 35, 0, 60, 31, 34, 32, 24, 40, 38, 29]
            }, {
                seriesType: "bar",
                collectionAlias: "Bronze Medals",
                data: [17, 17, 16, 28, 34, 30, 25, 0, 30, 27, 37, 25, 33, 26, 36, 29]
            }]
        });
    });
</script>
